* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  height: 2101px;
}

main {
  display: flex;
  flex-direction: row;

  width: 1440px;
  height: 836px;

  background-color: #c0bfdb;
}
#canhoto {
  padding: 312px 28px 451px 109px;
}
#texto {
  padding: 307px auto 215px 109px;
}
button {
  margin-left: 109px;
  margin-bottom: 136px;
  width: 58.59px;
  height: 105px;
}
#astronauta {
  padding: 0 30px 100px;
  width: 719.36px;
  height: 732.36px;
}

#meiuca {
  display: flex;
  background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
  padding: 64px 111px;
  gap: 60px;
}

#laranja #azul #rosa {
  display: flex;
  flex-direction: column;
  padding: 32px;

  background-color: white;
}

#laranja {
  background-color: white;
}
#azul{
  background-color: white;
}
#rosa{
  background-color: white;
}

#baixo {
  background-color: aqua;
}
